# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~

# Build Artifacts
.gradle/
build/
target/
bin/

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea
out/

# local properties are not meant to be checked in
src/main/resources/local.properties
