### Operating System
.DS_Store
Thumbs.db
*~
*.bak
*.log

### Build Artifacts
/.gradle/
/build/
/target/
/bin/

### Eclipse Project
/.classpath
/.project
/.settings/

### IntelliJ IDEA
/.idea/
/out/
/*.iws
/*.iml
/*.ipr

### simlar
## local properties are not meant to be checked in
src/main/resources/local.properties
