name: "simlar-server-ci"
on:
  schedule:
    - cron: '0 3 * * *'
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Setup java 21
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'adopt'

    - name: Cache dependencies
      id: cache-dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle
        key: ${{ runner.os }}-dependencies

    - name: Build
      env:
        SIMLAR_NVD_API_KEY: ${{ secrets.SIMLAR_NVD_API_KEY }}
      run: ./gradlew --no-daemon --warning-mode all clean build dependencyUpdates dependencyCheckAnalyze

    - name: Save artifacts
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: static code analysis
        retention-days: 5
        if-no-files-found: ignore
        path: |
          build/reports/
